<footer id="footer" th:fragment="footer" class="bg-body-tertiary text-dark pt-4">
  <div class="container-fluid px-5 pt-5"  style="background-color: #BAEBFF;">
    <div class="row w-75 mx-auto">
      <!-- Cột Logo và Thông Tin -->
      <div class="col-md-4 text-md-start">
        <img src="logo.png" alt="Logo" width="120">
        <p class="mt-3">
          Công ty TNHH FB Sport Việt Nam <br>
          📍 <strong>Địa chỉ:</strong> Đại học Công nghệ Đông Á, P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội <br>
          👤 <strong>Người đại diện:</strong> Trần Hồng Ánh <br>
          ✉ <strong>Email:</strong>
          <a href="20213439@eaut.edu.com" class="text-dark text-decoration-none">
            20213439@eaut.edu.com
          </a>
        </p>
      </div>

      <!-- Cột Mạng Xã Hội -->
      <div class="col-md-4 text-center">
        <h5 class="fw-bold">Mạng Xã Hội</h5>
        <div class="mt-3">
          <a href="https://www.facebook.com/at942388" target="_blank" class="me-3 text-dark fs-4">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="me-3 text-dark fs-4">
            <i class="bi bi-chat-dots"></i> <!-- Zalo (thay thế bằng icon gần giống) -->
          </a>
          <a href="#" class="me-3 text-dark fs-4">
            <i class="bi bi-tiktok"></i>
          </a>
          <a href="#" class="text-dark fs-4">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>


      <!-- Cột Địa Chỉ & Google Map -->
      <div class="col-md-4">
        <h5 class="fw-bold">Địa Chỉ</h5>
        <p class="mb-2">
          Toà nhà Đại học Công nghệ Đông Á, P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
        </p>
        <iframe
                width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.3486528437366!2d105.74549907519794!3d21.059376488059167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454c8c37a030b%3A0xe9de44a29f3ea92d!2zxJAuIFRyw6xuaCBWxINuIELhu5sgLSBOYW0gVMO0IExpw6ptLCBOYW0gVMO0IExpw6ptLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1svi!2s!4v1707819488273!5m2!1svi!2s">
        </iframe>
      </div>
    </div>

    <hr class="mt-4 mb-2">
    <div class="text-center pb-3">
      &copy; 2025 FBShop. All Rights Reserved.
    </div>
  </div>
</footer>
